* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem auto;
  background-color: blueviolet;
  max-width: 960px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  