:root {
    --tag-color: #555;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1300px;
    margin: 0 25px;
    background: radial-gradient(#fff, rgb(214, 232, 255));
    font-family: 'Poppins', sans-serif;
}

header img {
    width: 125px;
    height: 80px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
}

.navigation li {
    padding: 0 15px;
}

#bag {
    width: 24px;
    cursor: pointer;  
    display: none;  
}

#i-bag {
    width: 24px;
    cursor: pointer;  
}


#menu {
    width: 48px;
    cursor: pointer;
}


.navigation {
	display: flex;
	flex-direction: column;	
    list-style: none;
}

.navigation li a {
  display: none;
  text-align: center;
  text-decoration: none;
  color: var(--tag-color);
}

.open li a {
	display: inline-block;
    width: 100%;
}


.row a {
    text-decoration: none;
}



p {
    color: var(--tag-color);
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    
}

.hero {
    width: 50%;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row {
    flex-basis: 50%;
}

.row h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: #563434;
}




@media screen and (min-width: 600px) {

    .icons {
        display: none;
    }

    #menu {
        display: none;
    }

    #bag {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: row;
    }
    
    

    .navigation {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
    }
        

    .navigation li a {
		display: block;	
	}

    .caption {
        display: flex;
        flex-direction: row;
        align-items: center; 
        column-gap: 60px; 
        padding: 25px;  
    }
    
    

}